*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.banner{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(background.jpg);
  background-size: cover;
  background-position: center;

}
.banner h1{
  color:#009688;
}
.navbar{
  width: 85%;
  margin: auto;
  padding: 35 px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.navbar ul li{
list-style: none;
display: inline-block;
margin: 0 20px;
position: relative;
}
.navbar ul li a{
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}
.navbar ul li ::after{
  content: '';
  height: 3px;
  width: 0;
  background: #009688;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;

}
.navbar ul li :hover::after{
  width: 100%;

}
.content{
  width: -100%;
  position: absolute;
  top: 20%;
  transform: translate(-50%);
  margin-left: 50%;
  text-align: center;
  color: #fff;
}
.content h1{
  font-size: 40px;
  margin-top: auto;
}
.content img{
  width: 163px;
  height: 279px;
  position: relative;
  


  
}

.about ul li{
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  text-align: center;
  
}
.about ul li h3{
  text-decoration: none;
  color: #009788;
  text-transform: uppercase;
}
.about ul li h3{
  text-decoration: none;
  color: #fff;
  text-transform: initial;
}
.about ul li a{
  color:#009788;
}
.education{
  margin-top: auto;
  margin-left: 15%;;
}
.education table{
  border: 1px solid #009788;
  
}
.education table th{
  border: 1px solid #009788;
  position: relative;
  color: #009788;
  
} 
.education table td{
  text-align: center;
  position: relative;
  color: #fff;
  
} 
button{
  width: 200px;
  padding: 15px;
  text-align: center;
  margin: 20px 10 px;
  border-radius: 25px;
  font-weight: bold;
  border: 2 px solid #009688;
  background: transparent;
  color: #fff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
span{
  background: #009788;
  height: 100%;
  width: 0%;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}
button:hover span{
  width: 100%;

}
button:hover{
  border: none;
}
.skills{
  text-align: center;
  position: relative;
  color: #fff;
}
.skills ol{
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  text-align: center;
}
.certificates{
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  text-align: center;
}
.Languages{
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  text-align: center;
}
.certificates img
{
  width: 163px;
  height: 279px;
  position: relative;
}
.Languages h2{ 
  text-decoration: none;
  color: #87afac;
  text-transform: uppercase;
  position: relative;
  text-align: center;
}

.interests{
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  text-align: center;
}
.interests h2{
  text-decoration: none;
  color: #87afac;
  text-transform: uppercase;
  position: relative;
  text-align: center;
}

.training{
  margin-left: 10%;
  margin-top: auto;
  
}

.training table th{
  font-size: x-large;
  position: relative;
  color: #009788;
  
} 
.training table td{
  font-size: large;
  text-align: center;
  position: relative;
  color: #fff;
  
} 
.projects{
  width: -100%;
  position: relative;
  
  transform: translate(-50%);
  margin-left: 50%;
  
  color: #fff;
}
.projects h2{


color:aqua;
}
.projects b{
  color:#87afac;
}